
cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    s3:
      bucket: cozystates-bucket-01
    region:
      static: ap-northeast-2
    stack:
      auto: 'false'
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cozystates?useSSL=false&allowPublicKeyRetrieval=true&useLegacyAuth=false
    username: Dong
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  profiles:
    active: local
    include: jwt, redis, oauth
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
        ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true  # (3) SQL pretty print
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  sql:
    init:
      data-locations: classpath*:db/h2/data.sql
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
