cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    s3:
      bucket: cozystates.com
    region:
      static: ap-northeast-2
    stack:
      auto: 'false'
spring:
  datasource:
    url: jdbc:mysql://database-cozystates2.c1hypxzbotyv.ap-northeast-2.rds.amazonaws.com:13306/cozystates?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: admin
    password: 12341234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true  # (3) SQL pretty print
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
    sql:
      init:
        data-locations: classpath*:db/h2/data.sql
  logging:
    level:
      org:
        springframework:
          orm:
            jpa: DEBUG
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            scope:
              - profile
              - email
config:
  domain: http://cozystates.com.s3-website.ap-northeast-2.amazonaws.com

jwt:
  secret: ${JWT_SECRET}
  access_token_expired: 3_600_000
  refresh_token_expired: 604_800_000

springdoc:
  packages-to-scan: com.example.server
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    path: /api_doc.html            # Swagger UI 경로 => localhost:8000/demo-ui.html
    tags-sorter: alpha            # alpha: 알파벳 순 태그 정렬, method: HTTP Method 순 정렬
    operations-sorter: alpha      # alpha: 알파벳 순 태그 정렬, method: HTTP Method 순 정렬
  api-docs:
    path: /api-docs/json
    groups:
      enabled: true
  cache:
    disabled: true

